:root {
  --layer-footer: 1;
  --layer-lifter: 2;
  --layer-page-modules: 3;
  --layer-page-headers: 4;
  --layer-nav-buttons: 5;
  --layer-popup: 6;
  --layer-header: 7;
  --layer-header-nav: 1;
  --layer-header-elements: 2;
}
