:root {
  --spring-leaves: color(from #5d8f60 display-p3 0.36 0.56 0.38);
  --kashmir-blue: color(from #537396 display-p3 0.33 0.45 0.59);
  --pickled-bluewood: color(from #2a4965 display-p3 0.19 0.28 0.39);
  --ebony-clay: color(from #1e262e display-p3 0.12 0.15 0.18);
  --dodger-blue: color(from #329eff display-p3 0.33 0.61 0.97);

  --tan: color(from #deddd4 display-p3 0.87 0.87 0.83);
  --blue: color(from #4a7499 display-p3 0.33 0.45 0.59);
  --light-blue: color(from #6998c3 display-p3 0.45 0.59 0.75);
  --neon-green: color(from #14ff00 display-p3 0.47 0.98 0.3);
  --neon-blue: color(from #00fbff display-p3 0.45 0.97 0.99);
}
