:root {
  --layer-footer: 1;
  --layer-onionskin: 2;
  --layer-about: 3;
  --layer-project-index: 4;
  --layer-specifications: 5;
  --layer-popout-onionskin: 6;
  --layer-popout: 7;
  --layer-header: 8;
  --layer-splash: 9;
  --layer-modals: 10;
  --modal-close-button: 11;
}

@media only screen and (min-width: 1024px) {
  :root {
    --layer-footer: 1;
    --layer-onionskin: 2;
    --layer-about: 3;
    --layer-project-index: 4;
    --layer-specifications: 5;
    --layer-popout-onionskin: 6;
    --layer-popout: 7;
    --layer-header: 8;
    --layer-splash: 9;
    --layer-modals: 10;
    --modal-close-button: 11;
  }
}
