html {
  font-size: 62.5%;
  // scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  --scrollbarWidth: 0px;
  overflow-x: hidden;
}

html.no-js .loadable {
  opacity: 1 !important;
}

body {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--robinson);
  font-weight: 300;
  font-style: normal;
  font-size: 1.6rem;
  -webkit-tap-highlight-color: rgba(255, 255, 0, 0);
  background-color: var(--white);
  color: var(--tundora);
  overflow-x: clip;
}

html,
body {
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
address,
div {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: normal;
}

p {
  padding: 0;
  margin: 0;
  font-weight: normal;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  position: relative;
  cursor: pointer;
  font: inherit;
  text-decoration: none;
  text-underline-offset: 0.2em;
  transition: color 0.15s ease-in-out;
}

a:hover {
  &:after {
    content: ' ';
    display: block;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: -10px;
    left: 0px;
    background-image: url('/squiggle.svg');
    background-repeat: repeat-x;
    background-size: auto 2px;
  }
}

blockquote {
  font-weight: normal;
}

cite {
  font-style: normal;
}

strong,
strong em,
strong del {
  font-weight: 700;
}

hr {
  background-color: black;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  transition: background-color 0.25s linear;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}

::selection {
}

.media {
  border-radius: 5px;
  overflow: hidden;
}
