:root {
  --white: color(from #ffffff display-p3 1 1 1);
  --pearl: color(from #fcfcfc display-p3 0.985 0.985 0.985);
  --alabaster: color(from #f9f9f9 display-p3 0.975 0.975 0.975);
  --concrete: color(from #f2f2f2 display-p3 0.95 0.95 0.95);
  --mercury: color(from #e1e1e1 display-p3 0.88 0.88 0.88);
  --tundora: color(from #444444 display-p3 0.27 0.27 0.27);
  --soft-peach: color(from #f7f2f2 display-p3 0.96 0.95 0.95);
}
