:root {
  --typeSizeXS: 1.2rem;
  --typeLineXS: 2.2rem;

  --typeSizeS: 1.4rem;
  --typeLineS: 2.8rem;

  --typeSizeM: 1.6rem;
  --typeLineM: 2.2rem;

  --typeSizeL: 1.8rem;
  --typeLineL: 2.52rem;

  --typeSizeXL: 2.2rem;
  --typeLineXL: 2.8rem;
}
